<% @plots.each do |plot| %>
    <section id="plot_<%= plot.id %>">
    <br>
    <p>Plot Number: <%= plot.number %>
    <br>
    <% plot.plants.each do |plant| %>
        <br>
        <%= plant.name %>
        <%= form_with model: plant, method: :destroy, controller: 'plants', local: true do |f| %>
            <%= f.submit "Delete #{plant.name}" %>
        <% end %>
    <% end %>
    </section>
<% end %>
