<% @plots.each do |plot| %>
  <div id="plot-<%= plot.id %>">
    <h3>Plot Number: <%= plot.number %></h3>
    <ul>
      <% plot.plants_with_data.each do |plant_data| %>
        <li id="plant_name_<%= plant_data[:plant].id %>">
          <%= plant_data[:plant].name %>
          <%= button_to 'Remove', plant_plot_path(plant_data[:plant_plot_id]), method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
