<h1>Garden Plots</h1>

<% @plots.each do |plot| %>
  <div id="plot-<%= plot.id %>">
    <p>Plot Number: <%= plot.number %></p>
      <% plot.plants.each do |plant| %>
        <div id="plot-<%= plot.id %>-plant-<%= plant.id %>">
          <%= plant.name %><%= button_to "Remove Plant From Plot", plot_plant_path(plot, plant), method: :delete %><br>
        </div>
      <% end %>
  </div>
<% end %>